body{
	background-color: red;
}
div{
	border:10px solid lightgreen;
	box-sizing:border-box;
	margin: 10px;
}
div#outside{
	background-color:blue;
	display: inline-block;
	padding: 20px;
	
	height: 200px;
	width: 200px;
}
div#inside{
	background-color:orange;
	display: inline-block;
	height:100px;
	width:100px;
}